*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

header{
    width: 1400px;
    background: white;
    height: 80px;
}

nav{
    padding: 20px;
    padding-left: 50px;
}

nav ul li{
    list-style: none;
    margin-right: 20px;
}

.fllx{
    float: left;
}

.fldx{
    float: right;
}

.button {
    background-color: #0067ff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

main{
    width: 1400px;
    background:#add1ea;
    height: 80vh;
}

.container h1{
    padding-top: 80px;
    padding-left: 10px;
    text-align: left;
    font-size: 75px;
}

.container p{
    padding-top: 40px;
    padding-left: 10px;
    text-align: left;
    font-size: 18px;
    width: 400px;
}

.container p:last-of-type{
    padding-top: 25px;
}

.arrow{
    padding-top: 60px;
    padding-left: 10px;
    text-align: left;
    font-size: 18px;
}

div img{
    width: 850px;
    display: inline;
    position: absolute;
    z-index: 1;
    top: 380px;
    left: 550px;
}

.row{
    margin: 0 auto;
}

.row h2{
    width: 1200px;
    margin-top: 280px;
    font-size: 40px;
    text-align: center;
}

.radiobuttons{
    margin-top: 50px;
    margin-left: 200px;
}

.fl{
    float: left;
    margin-top: 50px;
    text-align: center;
}

.col-center{
    width: 20%;
    border: lightgray 1px solid;
    font-size: 18px;
    height:  36px;
    margin-left: 30px;
}

.col-right, .col-left{
    width: 20%;
    border: lightgray 1px solid;
    font-size: 18px;
    height:  36px;
    margin-left: 30px;
}

.col-left{
    margin-left: 200px;
    font-size: 18px;
}

.col-content{
    padding: 10px 20px;
    height: 200px;
}

.partners{
    width: 500px;
    margin-top: 1000px;
    margin-left: -350px;
    float: left;
}

.infopartners img{
    float: left;
}

.infopartners{
    font-size: 20px;
    text-align: left;
    float: left;
    margin-top: 200px;
    margin-left: 800px;
    margin-bottom: 40px;
}

.button2{
    background-color: white;
    color: black;
    border: 2px solid black;
    text-decoration: none;
    padding: 10px 20px;
    text-align: center;
    margin-right: 0px;
}