*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    width: 1400px;
    background: white;
    height: 80px;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.containerbig{
    width: 1400px;
    background:#add1ea;
    height: 80vh;
}

.h-100{
    height: 100%;
}

div h3{
    font-size: 40px;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}


nav{
    padding: 20px;
    padding-left: 50px;
    padding-top: 25px;

}

nav img {
    width: 100px;
    vertical-align: text-bottom;
}

nav ul li{
    list-style: none;
    margin-right: 20px;
}

nav li{
    float: left;
}

.fldx{
    float: right;
}

.button {
    background-color: #0067ff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.container h1{
    padding-top: 80px;
    padding-left: 10px;
    text-align: left;
    font-size: 75px;
}

.container p{
    padding-top: 90px;
    padding-left: 10px;
    text-align: left;
    font-size: 18px;
    width: 500px;
}

.container p:last-of-type{
    padding-top: 25px;
}

.arrow{
    padding-top: 50px;
    padding-left: 10px;
    text-align: left;
    font-size: 18px;
}

.jumbotron img{
    width: 850px;
    display: inline;
    position: absolute;
    z-index: 1;
    top: 430px;
    left: 550px;
}


.dropboxplans{
    margin-top: 150px;
}

.placeholder{
    background: purple;
    margin-top: 50px;
    width: 1200px;
    height: 800px;
}

.collab{
    margin-top: 40px;
}

.collab img{
    width: 500px;

}

.collab p{
    padding: 40px 20px;
}

.collab h3{
    margin-top: 40px;
}

.col-center{
    width: 20%;
}

.col-right, .col-left{
    width: 20%;
}

.col-content img{
    display: inline-block;
    position: relative;
    width: 200px;
}
.col-content p{
    width: 200px;
}

.partner{  
    background: red;
}

/* ------------------------- */

.teams-container-v2{
    margin-top: 30px;
}

.teams-container-v2 .teams-col, .teams-container-v2 .teams-center{
    height: 300px;
}

.teams-container-v2 .teams-col{
    width: 30%;
}

.teams-container-v2 .teams-center{
    width: 40%;
    background: #ccc;
}

.teams-container-v2 .teams-col .logo{
    width: 50%;
    height: 50%;
    position: relative;
    border: 1px #000 solid;
}

.teams-container-v2 .teams-col .logo img{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(100%);
    
}

.red{
    background: red;
}

.yellow{
    background: yellowgreen;
}

.green{
    background: green;
}

.blue{
    background: rgb(0, 195, 255);
}

.dsn img{
    width: 200px;
    padding: 20px 20px;
}

.dsn-text{
    padding: 20px;
}

.dsn-info{
    padding: 20px 20px;
}